<h1>Welcome to our amazing restaurant</h1>

<img src="/images/home.jpg" alt="delicious pizzas" />

<ul>
    <li><a href="/pizzas/margarita">Margarita</a></li>
    <li><a href="/pizzas/veggie">Veggie</a></li>
    <li><a href="/pizzas/seafood">Seafood</a></li>
    <li><a href="/pizzas/special?type=regina">Special with a query parameter `req.query` (vs a parameter passed to the route `req.params`)</a></li>
</ul>

{{> ctaOrderNow}}